body {
    height: 100vh;
    margin: 0;
    background: linear-gradient( #fff7cc 0%, #ffe066 15%, #ffb347 35%, #ff7e00 40%, #ff3b00 60%, #8b0000 80%, #2b0000 100%);
}

h1 {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.fire-text {
    display: flex;
    font-size: auto;
    font-weight: bold;
    background: linear-gradient( 0deg, #ff0000, #ff7e00, #ffd000, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    animation: flame 2s infinite linear;
}

.navbar {
    display: flex;
}

.hamburger {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bar1 {
    display: flex;
    width: 35px;
    height: 5px;
    background-color: #ffd000;
    margin: 6px 0;
}

.bar2 {
    display: flex;
    width: 35px;
    height: 5px;
    background-color: #ff7e00;
    margin: 6px 0;
}

.bar3 {
    display: flex;
    width: 35px;
    height: 5px;
    background-color: #ff0000;
    margin: 6px 0;
}