* {
    box-sizing: border-box;
}

body {
    height: auto;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: white;
    background: linear-gradient( #fff7cc 0%, #ffe066 15%, #ffb347 35%, #ff7e00 40%, #ff3b00 60%, #8b0000 80%, #2b0000 100%);
}


/* NAVBAR */

.navbar {
    position: sticky;
    top: 0;
    background: #ff6a00;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    flex-wrap: wrap;
}


/* NAV LINKS */

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    background: #111;
    padding: 12px 16px;
    border-radius: 12px;
}

.nav-links a:hover {
    background: white;
    color: black;
}

.nav-links a:active {
    transform: scale(.95);
}

.nav-links a:focus {
    outline: 2px dashed yellow;
}

.nav-links a:visited {
    color: white;
}


/* LOGO */

.logo-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border: 2px solid white;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-section h1 {
    margin: 0;
    font-size: 30px;
}

.logo-section h1::before {
    content: "🔥 ";
}

.fire-text {
    display: flex;
    font-size: auto;
    font-weight: bold;
    background: linear-gradient( 0deg, #8b0000, #ff0000, #ff7e00, #ffd000, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* HAMBURGER */

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
}

.hamburger span {
    width: 30px;
    height: 4px;
    background: white;
    display: block;
}

.image-side {
    flex: 1;
}

.image-side img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid white;
}

.image-side img:hover {
    opacity: .9;
}


/* HEADER */

.top-box {
    background: black;
    border: 2px solid white;
    border-radius: 18px;
    width: 85%;
    margin: 30px auto;
    padding: 25px;
    text-align: center;
}

.top-box p::after {
    content: " 🌍";
}


/* CONTENT */

.container {
    width: 85%;
    margin: auto;
}

.content-box {
    background: black;
    border: 2px solid white;
    border-radius: 18px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.content-box::after {
    content: "";
}

.text-side {
    flex: 1;
}

.image-side {
    flex: 1;
}

.image-side img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid white;
}

.image-side img:hover {
    opacity: .9;
}


/* FACTS */

.facts-box {
    background: black;
    border: 2px solid white;
    border-radius: 18px;
    padding: 20px;
    margin-bottom: 30px;
}

.facts-box h2::after {
    content: " 🌡️";
}

.facts-box ul {
    line-height: 2;
    padding-left: 20px;
}

.facts-box li:first-child {
    color: #ffd28a;
}

.facts-box li:last-child {
    color: #ffe9b3;
}


/* FOOTER */

.site-footer {
    background: black;
    border-top: 2px solid white;
    text-align: center;
    padding: 20px;
}

.site-footer p {
    margin: 8px 0;
}


/* MOBILE VERSION */

@media (max-width:600px) {
    .hamburger {
        display: flex;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
    }
    #menu-toggle:checked~.nav-links {
        display: flex;
    }
    .nav-links a {
        width: 100%;
        text-align: center;
    }
    .content-box {
        flex-direction: column;
    }
    .top-box,
    .container {
        width: 92%;
    }
    .logo-img {
        width: 70px;
        height: 70px;
    }
    .logo-section h1 {
        font-size: 22px;
    }
}