* {
    box-sizing: border-box;
}

body {
    height: auto;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: white;
    background: linear-gradient( #fff7cc 0%, #ffe066 15%, #ffb347 35%, #ff7e00 40%, #ff3b00 60%, #8b0000 80%, #2b0000 100%);
}